<template>
  <div class="apollo">
    <h1>Apollo</h1>
    <ApolloExample />
  </div>
</template>

<script>
import ApolloExample from "@/components/ApolloExample.vue";
export default {
  name: "Apollo",
  components: {
    ApolloExample,
  },
};
</script>

<style lang="scss" scoped>
</style>