<template>
  <div class="gitlab">
    <h1>
      GitLab
    </h1>
    <p>
      Visit the
      <a
        href="https://gitlab.com/pablocolaiacovo/dockerized-vue"
        target="_blank"
        rel="noopener noreferrer"
        >Repo</a
      >
    </p>
  </div>
</template>
